<div id="brokerCompany">
    <div class="content clearfix">
        <div class="head_line">
            <div class="line_left">
                <span>经纪公司</span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="head_bton_list">
            <div class="bton_left">
                <div class="bton_left_nav">
                    <a href="javascript:void(0);" class="btn_refresh js-refresh btn_right_bor">刷新</a>
                </div>

            </div>
            <div class="bton_right">
                <div class="search bton_right_search">
                    <input type="text" id="js-keyWord" class="sinput form-control fl_left" placeholder="请输入搜索关键字" maxlength="15">
                    <input type="button" value="搜索" class="sbtn js-search">
                </div>
            </div>
        </div>
    </div>
</div>